 input[type=text] {
    width: 25%;
    padding: 20px 20px;
    margin: 15px 15px;
    box-sizing: border-box;
}

body {
	text-align: center;
	font-family: verdana, geneva, sans-serif;
	background-color: blue;
	background: -webkit-linear-gradient(blue, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(blue, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(blue, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(blue, white); /* Standard syntax (must be last) */
	
	
}
